<mat-card class="mat-elevation-z4">
	<mat-card-title>Basic</mat-card-title>
	<mat-card-content>
		<mat-tab-group #tabGroupPrimary>
			<mat-tab label="Basic 1">
				One Content.
			</mat-tab>
			<mat-tab label="Basic 2">
				Two Content
			</mat-tab>
			<mat-tab label="Basic 3">
				Three Content
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z4">
	<mat-card-title>Primary</mat-card-title>
	<mat-card-content>
		<mat-tab-group #tabGroupPrimary color="primary">
			<mat-tab label="Primary 1">
				One Content.
			</mat-tab>
			<mat-tab label="Primary 2">
				Two Content
			</mat-tab>
			<mat-tab label="Primary 3">
				Three Content
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z4">
	<mat-card-title>Accent</mat-card-title>
	<mat-card-content>
		<mat-tab-group #tabGroupAccent color="accent">
			<mat-tab label="Accent 1">
				One Content.
			</mat-tab>
			<mat-tab label="Accent 2">
				Two Content
			</mat-tab>
			<mat-tab label="Accent 3">
				Three Content
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
